@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url('https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cHVycGxlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Muli',sans-serif;
    display: flex;
    margin: 0;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.carousel {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    height: 530px;
    width: 500px;overflow: hidden;
}

.image-container {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: rebeccapurple;
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    width: 49.8%;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.97);
}